{% extends 'base.html'%}
{% block title %}
Jonal Covid 19
{% endblock %}

{% block content %}
	<main class="main">
		<!--Formulario de Postagem-->
		<ul class="posts">
			<li class="post">
				<div class="infoNoticiaPost">
					<div class=noticiaLink>
						<img class="imgNoticia" src="{{url_for('static', filename=noticia.get_imagem())}}">
						<div>
							<h3>{{noticia.get_titulo()}}</h3>
							<span>{{noticia.get_data_publicacao()}}</span>
							<p>{{noticia.get_resumo()}}</p>
						</div>
					</div>
					<div class=noticiaDescricao>
						{{noticia.get_descricao()}}
					</div>
				</div>
				<div class="noticiaInf">
					<div class="actionBtnPost">
						<button type="button" class="filesPost like"><img src="{{url_for('static', filename='/img/heart.svg')}}" alt="Curtir">Curtir: {{noticia.get_qt_curtidas()}}</button>
						<button type="" class="filesPost share"><img src="{{url_for('static', filename='/img/share.svg')}}" alt="Visualizações">Quant de Visualizações: {{noticia.get_qt_visualizacao()}}</button>
					</div>
				</div>
			</li>
		</ul>
	</main>
{% endblock %}